.ingredient-list {
	list-style-type: none;
	padding: 0;
	font-size: 0.7rem;
}

.filter {
	padding: 20px 25px;
	text-align: center;
	margin-bottom: 30px;
	border-radius: 5px;
}

.white {
	color: white;
}

.close {
	line-height: initial;
}

.recipe-card {
	border-radius: 10px;
	height: 350px;
	margin-bottom: 35px;
}

.recipe-img {
	border-radius: 10px 10px 0 0;
	height: 175px;
	width: 100%;
	background-color: rgb(181 174 174);
}

.recipe-card-body {
	background-color: #e9e9e9;
	border-radius: 0 0 10px 10px;
	padding: 15px;
	padding-bottom: 0;
	height: 175px;
}

.bold {
	font-weight: bold;
}

.recipe-name {
	width: 70%;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.recipe-description {
	font-size: 12px;
	height: 100%;
	overflow-y: hidden;
	line-height: initial;
}

.card-container {
	height: 65%;
}

.main-title {
	color: red;
	font-weight: 600;
}
