.btn{
    color: white;
    &--green{
        background-color: $green;
    }
    &--blue{
        background-color: $blue;
    }
    &--red{
        background-color: $red;
    }
    &__filter {
        padding: 20px 15px;
        text-align: center;
        margin-bottom: 30px;
        border-radius: 5px;
        border: none;
        width: 100%;
    }
    &--no-expand {
        max-height: 65px;
        @include desktop-res{
          width: 210px!important;
        }
        @include laptop-res{
          width: 155px!important;
        }
        @include tablet-res{
          width: 170px!important;
        }
        @include mobile-res{
          max-width: 500px;
        }
    }
}

