.input{
    border: none;
    width: 100%;
    color: white;
    &--green{
        background-color: $green;
    }
    &--blue{
        background-color: $blue;
    }
    &--red{
        background-color: $red;
    }
    &::placeholder{
        color: darken(white,15);
    }
}