.tag{
    &__container {
      font-size: 14px;
      border-radius: 5px;
      margin-bottom: 10px;
      margin-right: 0;
      color: white;
    }
    &__capsule{

      @include desktop-res{
        width: 210px!important;
      }
      @include laptop-res{
        width: 155px!important;
      }
      @include tablet-res{
        width: 170px!important;
      }
      @include mobile-res{
        max-width: 500px;
      }
    }
    &__quit{
        border: none;
        color: white;
    }
    &--blue {
        background-color: $blue;
    }
    &--red{
        background-color: $red;
    }
    &--green{
        background-color: $green;
    }
}